:root {
  --main-color: #2874f0;
  --shadow: rgb(0 0 0 / 16%);
  --btn-color: #2873f0;
}
.category {
  text-align: center;
}
.head img {
  height: 75px;
}
.box-shadow {
  box-shadow: 0 2px 4px 0 var(--shadow);
}
.dotd-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
}
.heading {
  display: flex;
  align-items: center;
}
.new-ad {
  box-shadow: 0 2px 4px 0 var(--shadow);
}
.txt {
  font-weight: 400;
}
.offer {
  color: green;
}
.tag {
  font-size: 12px;
  color: grey;
}
